//-
  Codesec network controller UI
  Copyright (C) 2017-2021  Codesec Networks (https://codesecure.in)
  Licensed under GPLv3 - see LICENSE for details.

extends login_layout

block login_content

  h2
    a(href='https://codesecure.in' target='_blank') Codesec 
    | Network Controller 

