//-
  Codesec network controller UI
  Copyright (C) 2017-2021  Codesec Networks (https://codesecure.in)
  Licensed under GPLv3 - see LICENSE for details.

extends controller_layout

block content

  h2
    a(href='https://codesecure.in' target='_blank') Codesec 
    | Network Controller 
   

  if error
     b #{error}
  else
    h4 This network controller address  <b>#{zt_status.address}</b>
    h4 network controller version <b>#{zt_status.version}</b>
    h4
      a(href='/controller/networks') List all networks on this network controller
